---
// Import a unique ID generator
import { v4 as uuidv4 } from 'uuid';
const uniqueId = uuidv4(); // Generates a unique ID for each component instance
---

<div class="w-full outerMenu" data-unique-id={uniqueId}>
<div class="inline-flex items-center overflow-hidden border mainMenu">
	<!-- Sub-container for items 1-5 that allows wrapping -->
	{
		["item 1", "item 2", "item 3", "item 4", "item 5"].map((item, index) => (
			<div class="m-1.5 flex-shrink-0 min-w-fit">
				{item}
			</div>
		))
	}
	<a href="/link-for-item-6" class="m-1.5 flex-shrink-0 min-w-fit">Item 6</a>
</div>
</div>

<div class="flex flex-col overflowMenu">
	{
		["item 1", "item 2", "item 3", "item 4", "item 5"].map((item, index) => (
			<div id={`overflow-item-${index}-${uniqueId}`} class="m-1.5 hidden">
				{item}
			</div>
		))
	}
</div>

<script>
	import $ from "jquery";
	$(document).ready(function () {
		const uniqueId = $('.outerMenu').data('unique-id');
		const mainMenu = $(`.outerMenu[data-unique-id="${uniqueId}"] .mainMenu`);
		const overflowItems = $(`.overflowMenu div[id^="overflow-item-"][id$="${uniqueId}"]`);
		const linkItem = mainMenu.children("a");

		function checkVisibility() {
			let availableWidth = $(`.outerMenu[data-unique-id="${uniqueId}"]`).outerWidth(true) - linkItem.outerWidth(true);
			let usedWidth = 0;

			mainMenu.children("div").each(function (index) {
				const item = $(this);
				const itemWidth = item.outerWidth(true);
				if (usedWidth + itemWidth <= availableWidth) {
					item.removeClass("hidden");
					overflowItems.eq(index).addClass("hidden");
					usedWidth += itemWidth;
				} else {
					item.addClass("hidden");
					overflowItems.eq(index).removeClass("hidden");
				}
			});
		}

		const resizeObserver = new ResizeObserver(checkVisibility);
		resizeObserver.observe($(`.outerMenu[data-unique-id="${uniqueId}"]`)[0]);

		checkVisibility();
	});
</script>